@import url('https://fonts.googleapis.com/css2?family=Merienda+One&display=swap');

.polaroidFrame {
  padding: 30px 15px 15px 15px;
  border: 1px solid gray;
  width: 268px;
  border-radius: 2px;
  box-shadow: 5px 5px 5px black;
  background-color: white;
  filter: sepia(.75);
  transition: 0.3s;
}

.polaroidFrame:hover {
  filter: sepia(0);
}

.polaroidImage {
  display:flex;
  align-items:center;
  justify-content:center;
  background-color: black;
  min-height: 300px;
  position: relative;
  overflow: hidden;
  border: 1px solid gray;
}

.polaroidImage img{
  display: block;
  max-width: 100%;
}

.polaroidFrame .title,
.polaroidFrame .description,
.polaroidFrame .author {
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}

.polaroidImage::after {
  box-shadow: inset 0px 0px 5px 5px rgba(0, 0, 0, 0.25);
  content: "";
  display: block;
  height: 100%;
  position: absolute;
  top: 0;
  width: 100%;
}

.title {
  font-size: 20px;
  font-family: "Merienda One", cursive;
  text-align: center;
  color:  black;
  margin: 20px;
}

.galleryTitle {
  font-size: min(8vw, 40px);
  font-family: "Merienda One", cursive;
  text-align: center;
  color:  black;
  margin: 10px 0 10px 0;
}


.tagline{
  font-size: 14px;
  text-align: center;
  color:  grey;
  margin: 0 20px 20px 20px;
}

.content{
  font-size: 14px;
  text-align: center;
  color:  black;
  margin: 0 20px 20px 20px;
}

.author {
  font-size: 14px;
  text-align: center;
  color:  grey;
  margin: 0 20px 20px 20px;
}

.author span {
  white-space: pre;
}

.gallery {
  margin: 20px 0 20px 0;
  display: flex;
  justify-content: flex-end;
}

.blogpostContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.blogpostEditor .formField {
  margin-bottom: 20px;
}

.blogpostEditor .formField input,
.blogpostEditor .formField textarea {
  width: 75%;
}

.blogpostEditor {
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: stretch;
  margin: 20px;
}

.editorPreview {
  margin: 20px;
}

