.mediaCreator .formField {
  margin-bottom: 20px;
  width: 100%;
}

.mediaCreator .formField input,
.mediaCreator .formField textarea {
  width: 75%;
}

.mediaCreator {
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  margin: 20px;
}

