.artworkCreator .formField {
  margin-bottom: 20px;
  width: 100%;
}

.artworkCreator .formField input,
.artworkCreator .formField textarea {
  width: 75%;
}

.artworkCreator {
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  margin: 20px;
}

