.fileDisplayContainer video,
.fileDisplayContainer img, 
.fileDisplayContainer audio {
  max-width: 50vw;
  max-height: calc(100vh - var(--navbar-height));
  margin: 30px;
}

@media (min-width: 550px) {
  .fileDisplayContainer video,
  .fileDisplayContainer img, 
  .fileDisplayContainer audio {
    max-height: calc(100vh - var(--navbar-height-desktop));
  }
}
